@font-face {
  font-family: 'Inconsolata';
  src:
    url('./fonts/Inconsolata-Regular.ttf') format('truetype');
  /* Add additional font formats if necessary */
  /* Specify the correct path to the font files */
}

.terminal {
  font-family: 'Inconsolata', sans-serif;
}